In [1]:
import pandas as pd

In [73]:
df = pd.read_csv('../data/new_dataset/train.csv')
df = pd.concat([df, pd.read_csv('../data/new_dataset/valid.csv'), pd.read_csv('../data/new_dataset/test.csv')], axis=0)

In [72]:
len(df)

6825

In [74]:
midi_notes = df.midi_notes
#Change type to float
midi_notes = midi_notes.apply(lambda x: [float(s.strip(' []')) for s in x.split(',')])

In [75]:
new_df = midi_notes.apply(pd.Series).add_prefix('note_')

In [76]:
new_df.head(5)

,note_0,note_1,note_2,note_3,note_4,note_5,note_6,note_7,note_8,note_9,...,note_2912,note_2913,note_2914,note_2915,note_2916,note_2917,note_2918,note_2919,note_2920,note_2921
0,76.0,0.25,0.0,76.0,0.75,0.5,76.0,0.25,0.0,76.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,79.0,1.00,0.0,77.0,2.00,0.0,77.0,1.00,8.0,75.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,67.0,1.00,0.0,72.0,1.00,0.0,74.0,1.00,0.0,74.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,71.0,0.50,0.0,71.0,1.00,0.5,71.0,0.50,0.0,71.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,63.0,0.50,0.0,64.0,1.00,0.0,63.0,1.00,0.0,58.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [77]:
notes     = new_df[new_df.columns[0::3]]
durations = new_df[new_df.columns[1::3]]
gaps      = new_df[new_df.columns[2::3]]

In [85]:
print('All notes in dataset:',     sorted(notes.stack().unique()))
print('All durations in dataset:', sorted(durations.stack().unique()))
print('All gaps in dataset:',      sorted(gaps.stack().unique()))

All notes in dataset: [6.0, 7.0, 8.0, 9.0, 10.0, 12.0, 14.0, 15.0, 16.0, 17.0, 18.0, 19.0, 21.0, 22.0, 23.0, 24.0, 25.0, 26.0, 27.0, 28.0, 29.0, 30.0, 31.0, 32.0, 33.0, 34.0, 35.0, 36.0, 37.0, 38.0, 39.0, 40.0, 41.0, 42.0, 43.0, 44.0, 45.0, 46.0, 47.0, 48.0, 49.0, 50.0, 51.0, 52.0, 53.0, 54.0, 55.0, 56.0, 57.0, 58.0, 59.0, 60.0, 61.0, 62.0, 63.0, 64.0, 65.0, 66.0, 67.0, 68.0, 69.0, 70.0, 71.0, 72.0, 73.0, 74.0, 75.0, 76.0, 77.0, 78.0, 79.0, 80.0, 81.0, 82.0, 83.0, 84.0, 85.0, 86.0, 87.0, 88.0, 89.0, 90.0, 91.0, 92.0, 93.0, 94.0, 95.0, 96.0, 97.0, 98.0, 99.0, 100.0, 101.0, 102.0, 103.0, 105.0, 106.0, 107.0, 108.0, 110.0, 111.0, 112.0, 113.0, 115.0, 116.0, 117.0, 118.0, 119.0, 120.0, 121.0, 123.0]
All durations in dataset: [0.25, 0.5, 0.75, 1.0, 1.5, 2.0, 2.5, 3.0, 3.5, 4.0, 4.5, 6.0, 6.5, 8.0, 8.5, 16.0, 16.5, 32.0, 32.5]
All gaps in dataset: [0.0, 0.5, 1.0, 2.0, 4.0, 8.0, 16.0, 32.0]

In [2]:
from models import BaseModel

model = BaseModel()
print(model.valid_durations)

[0.25, 0.5, 0.75, 1.0, 1.5, 2.0, 2.5, 3.0, 3.5, 4.0, 4.5, 6.0, 6.5, 8.0, 8.5, 16.0, 16.5, 32.0, 32.5]